section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color2);
    padding: 3.1rem 0;
}

section p{
    color: var(--color1);
    text-align: center;
}