.Footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--color2);
    padding: 3.1rem 0;
}

.Footer p{
    color: var(--color1);
    text-align: center;
}