/* Banner */
.banner {
    background: url(../assets/scott-webb-U5kQvbQWoG0-unsplash.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.banner h2 {
    margin: 1.25rem 0;
    font-size: 3rem;
    color: var(--color1);
}

.banner h3 {
    font-size: 1.5rem;
    color: var(--color1);
}

.banner .btn {
    margin-top: 1.25rem;
    background: var(--color2);
    border: 1px solid var(--color2);
    border-radius: 0.25rem;
    color: var(--color1);
    padding: 1.25rem 3.12rem;
    text-align: center;
    font-weight: 900;
    transition: .5s;
    font-size: 0.9rem;
}

.banner .btn:hover {
    background: transparent;
    color: var(--color2);
}

/* Vantagens */
.informacoes {
    background: var(--color2);
    color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.25rem 3.12rem;
    text-align: center;
}

.informacoes h3 {
    font-size: 2rem;
    margin-bottom: 2.1rem;
}

.informacoes p {
    max-width: 50rem;
    margin-bottom: 2.1rem;
    font-size: 1.2rem;
    text-align: center;
}

.informacoes hr {
    width: 12rem;
    height: 2px;
    background: var(--color1);
    margin-bottom: 4.3rem;
    border: none;
}

.informacoes .item {
    width: 100%;
    display: flex;
}

.informacoes .item li {
    padding: 0 1.8rem;
    text-align: center;
}

.informacoes .item li h4 {
    color: var(--color1);
    font-size: 1.5rem;
    margin-bottom: 1.8rem;
}

.informacoes .item li p {
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
}

.icon-home {
    width: 4.5rem;
}

/* Avaliação */
.testimonials {
    padding: 2.5rem 0;
    background: var(--color1);
    color: var(--color2);
    text-align: center;
    margin-top: 1rem;
}

.testimonials h1 {
    margin-bottom: 1.5rem;
}

.inner {
    max-width: 75rem;
    margin: auto;
    overflow: hidden;
    padding: 0 1.25rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 1rem;
}

.testimonial {
    background: var(--color3);
    border-radius: 2rem;
    padding: 1.8rem;
    margin-bottom: 1rem;
}

.testimonial img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

.name {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 1.25rem 0;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.stars img{
    width: 1.8rem;
    height: 1.8rem;
}

/*Responsividade*/
@media (max-width: 700px) {
    .banner {
        margin-top: 3.1rem;
    }
    
    .banner h1 {
        font-size: 2.3rem;
    }
    
    .banner h3 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:960px) {
    .col {
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .banner h2 {
        font-size: 2rem;
    }

    .banner h3 {
        font-size: 1rem;
    }

    .banner .btn {
        padding: 0.5rem 1rem;
    }

    .informacoes {
        padding: 3rem 1rem;
    }

    .informacoes .item {
        flex-direction: column;
        align-items: center;
    }

    .informacoes .item li {
        margin-bottom: 2rem;
    }

    .informacoes hr{
        width: 100%;
    }

    .col {
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .banner h2 {
        font-size: 1.5rem;
    }

    .banner h3 {
        font-size: 0.875rem;
    }

    .banner .btn {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
    }

    .informacoes h3 {
        font-size: 1.5rem;
    }

    .informacoes p {
        font-size: 1rem;
    }

    .informacoes .item {
        flex-direction: column;
    }
}



@media screen and (max-width:600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}